<h2>Games</h2>


<% @games.each do |game| %>

  <div class="game">
    <%= link_to game.name, game_path(game), class: "game-name" %>
    <%= link_to "Play #{game.name}", { controller: game.table_name, action: 'new'}, method: :get, class: "btn btn-on-white" %>
  </div>

<% end %>