<table class="ttt-players">
  <tr>
    <th class="ttt-player1 ttt-symbol"><%= @ttt_game.player1[:symbol] %></th>
    <th class="ttt-player2 ttt-symbol"><%= @ttt_game.player2[:symbol] %></th>
  </tr>
  <tr>
    <td class="ttt-player1"><%= @ttt_game.player1_display_name %></td>
    <td class="ttt-player2"><%= @ttt_game.player2_display_name %></td>
  </tr>
</table>