<table class="ttt-board">
  <% 9.times do |i| %>
    <% if (i) % 3 == 0%>
      <tr>
    <% end %>
        <td>
          <div class="ttt-square">
            <% if @ttt_game.board[i] %>
              <%= @ttt_game.board[i] %>
            <% end %>
          </div>
        </td>
    <% if (i+1) % 3 == 0 %>
      </tr>
    <% end %>
  <% end %>
</table>