

<section class="game-view" id=<%= "#{@ttt_game.which_player_view}" %>>
<div class="ttt-game">
  <div class="ttt-message">
    <h3><%= @ttt_game.message %></h3>
  </div>
  <%= render "board" %>
</div>

<%= render "players" %>
</section>