<div class="game-view" id=<%= "#{@ttt_game.which_player_edit_view}" %>>

<div class="ttt-game">
  <div class="ttt-message">
    <% case @ttt_game.opponent %>
    <% when 'user', 'ai' %>
      <p>Your Turn</p>
    <% when 'friend' %>
      <%= simple_format(@ttt_game.message) %>
    <% end %>
  </div>
  <%= render "board" %>
</div>

<%= render "players" %>

</div>