<h2>TttGame#New</h2>

<%= form_for @ttt_game do |f| %>
  <div class="form-group">
    <%= f.label :player2, "Select Opponent" %>
    <%= f.collection_select(:player2, @users, :id, :name, include_blank: 'Select Player 2') %>
  </div>
  <div class="form-action">
    <%= f.submit %>
  </div>
<% end %>