<h2>TttGame#New</h2>

<%= form_for @ttt_game do |f| %>
  <%= f.label :player2 %>
  <%= f.collection_select(:player2, @users, :id, :name, include_blank: 'Select Player 2') %>
  <%= f.submit %>
<% end %>