<% unless @ttt_game.finished? %>
  <script type="text/javascript">
          setTimeout(function(){
            window.location.reload(1);
          }, 4000);
        </script>
<% end %>

<div class="ttt-game">
  <div class="ttt-message">
    <h3><%= @ttt_game.message %></h3>
  </div>

  <%= render "waiting_board" %>
  <% if @ttt_game.finished? %>
    <%= link_to "New Game?", new_ttt_game_path %>
  <% end %>
</div>

<%= render "players" %>



  <%# if @ttt_game.finished? %>
    <%# form_for @ttt_game do |f| %>
      <%# f.hidden_field :player1, value: @ttt_game.player1 %>
      <%# f.hidden_field :player2, value: @ttt_game.player2 %>
      <%# f.hidden_field :opponent, value: 'user' %>
      <%# f.hidden_field :current_player, value: @ttt_game.first_player %>
      <%# f.submit "New Game?" %>
    <%# end %>
  <%# end %>