/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url("responsive.css");

 /*
   ========================================
   Layout
   ========================================
 */

 html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 *, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
   }

input {
  auto-complete: none;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  /*position: relative;*/
}

 /*
   ========================================
   Style
   ========================================
 */

@font-face {
  font-family: 'PF Arma Five';
  src: url('fonts/pf_arma_five.ttf')  format('truetype');
}

@font-face{
  font-family:"Binary Soldiers";
  src:url("http://www.myfontfree.com/data/43/b/binary_soldiers/BinarySoldiers.ttf");
}

 body {
  font-size: 18px;
  font-family: "PF Arma Five";
  background-color: oldlace;
  background-color: #F4F0F5;
 }

 .ruby {
  color: #F02626;
 }

 .games {
  color: #D62222;
 }

/*
  ========================================
  Navigation
  ========================================
*/

.flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.box1 {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  flex-grow: 2;
}

.box2 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.box3 {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  box-flex: 0;
}

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.navbar {
  background-color: #961818;
  /*background-color: #8C1C13;*/
  /*height: 4em;*/
  padding-top: 1em;
}

.navbar ul {
  list-style-type: none;
  /*display: inline-block;*/
}

.navbar-header {
  font-size: 2.8em;
  margin: 0;
  margin-bottom: .6em;
  padding-left: 1rem;
  line-height: .5;
  color: #F02626;
}

.navbar-header a {
  text-decoration: none;
  color: #F02626;
}

.navbar-nav {
  background-color: blue;
  margin: 0;
  padding: 0;
}

.navbar-nav li, .dropbtn {
  display: inline-block;
}

.dropbtn {
  min-width: 88px;
}

.dropbtn span {
  vertical-align: top;
  padding-right: .4rem;
}

.dropbtn img {
  width: 3rem;
  height: 3rem;
  margin-top: -.6rem;
}

.navbar-nav li a, .dropbtn {
  display: block;
  color: #fff;
  padding: .2rem 1rem;
  text-align: center;
  text-decoration: none;
}

.navbar-nav li a:hover, .dropdown:hover {
  cursor: pointer;
  color: #FF6B6B;
}

/* Style The Dropdown Button */
/*.dropbtn a{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    /*visibility: visible;*/
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
  ========================================
  Form
  ========================================
*/
.new-game {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  color: #F02626;
  font-size: 1.1rem;
}

.new-game h1 {
  margin-top: 1rem;
}

form.new_ttt_game,
form.new_mttt_game {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d62222+40,d62222+100 */
  background-color: #F02626;
  width: 400px;
  border-radius: 2px;
  padding: 0.1em 1em 1em 1em;
  margin: 10px auto;
  margin-bottom: 10px;
  /*margin-top: -100px;*/
  color: #fff;
}

form.new_ttt_game:first-child {
}

.form-header {
  text-align: center;
  /*padding-top: 150px;*/
}

.form-group {
  width: 156px;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.form-group select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: inherit;
   padding: .2em;
   padding-left: .7em;
   cursor: pointer;
   color: #000;
}

.form-group:hover select {
  color: #F02626;
  background-color: rgba(255,255,255,0.95);
}

.form-action {
  width: 200px;
  margin: 0 auto;
}

.form-action input {
  width: 200px;
  border: 4px solid #961818;
  background: none;
}

.form-action:hover input {
  color: #F02626;
  background: rgba(255,255,255,0.9);
}

.form-options-group,
.form-options-action {
  display: inline-block;
  margin: 0;
}

.form-options-group {
  width: 13rem;
}

.form-options-action {
  width: 6rem;
}

.form-options-group select {
  color: #F02626;
  padding-left: 0.5rem
}

.form-options-action input {
  color: #fff;
  width: 6rem;
  background-color: #F02626 !important;
  border: 2px solid #F02626;
  border-radius: 5px;
  background: none;
}

.form-options-action input:hover {
  color: #fff;
  background-color: #961818 !important;
  border: 2px solid #961818;
}

/*
  ========================================
  Section Header
  ========================================
*/

.section-header {
  color: #F02626;
  width: 600px;
  margin: 0 auto;
}

.section-heading {
  display: inline-block;
  vertical-align: baseline;
  padding-right: 1.2rem;
  margin-bottom: 0.2rem;
}

.section-options {
  display: inline-block;
}

/*
  ========================================
  Devise
  ========================================
*/

.notice,
.alert {
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: gray;
  border: 4px solid black;
  padding: 0 1em;
}

.devise {
  color: #fff;
  background: #F02626;
  padding: 10px 30px 40px 48px;
/*  padding-left: 40px;*/
  width: 400px;
  margin: 10px auto;
}

.devise input {
  color: #000;
  border-radius: 2px;
  border: none;
  padding: .2em;
  padding-left: .5em;
  width: 300px;
}

.devise input[type=checkbox] {
  width: 1em;
}

.devise .actions input{
  margin: 1em 0;
  color: red;
  background-color: #961818;
}

.devise .actions input:hover{
  background-color: rgba(255,255,255,0.95);
}

/*
#user_avatar::-webkit-file-upload-button {
  visibility: hidden;
}
#user_avatar::before {
  content: 'Choose an Image';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
#user_avatar:hover::before {
  border-color: black;
}
#user_avatar:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

/*
  ========================================
  Lists
  ========================================
*/

.list-wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.list {
  width: 600px;
  margin: 0 auto;
}

.list-item {
  background-color: #FC2828;
  margin-bottom: 4px;
  padding: 1em;
  width: 90%;
  position: relative;
}

.list a {
  text-decoration: none;
  color: #000;
}

.list-item:hover {
  margin: 0px 0px 4px -8px;
  box-shadow: 2px 2px 2px black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color: #FF6B6B;
}

.list-message {
  position: absolute;
  right: 0;
  top: -30px;
  width: 110px;
  -ms-transform: rotate(20deg); /* IE 9 */
      -webkit-transform: rotate(20deg); /* Safari */
      transform: rotate(20deg);
}

.list-title {
  margin: 0;
}

.list-game {
  margin: 0;
  color: #fff;
}

.list-subtitle {
  font-size: .8em;
  line-height: .8em;
  margin: 0;
  padding: 0;
}

.list-message .your-turn {
  color: #fff;
}

.list-message .opponents-turn {
  font-size: .8em;
  line-height: .8em;
}
/*
  ========================================
  Game Index
  ========================================
*/

.game-name {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 2rem;
  margin-bottom: .8rem;
}

div.game {
    background: red; /* For browsers that do not support gradients */
    background: linear-gradient(90deg, red, blue);
    background-size: 240% 240%;
    background-position: 0%;

    animation: gradientShift-player1 1s ease 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    /*animation-play-state: paused;*/
}

div.game:hover {
  animation: gradientShift-player2 1s ease 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

.game {
  display: block;
  background: linear-gradient(90deg, red, blue);
  width: 400px;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 1.2rem;
}

.game-btn {
  margin: 0 auto;
}

/*
  ========================================
  TTTGame Board
  ========================================
*/

.ttt-game {
  width: 400px;
  /*background-color: yellow;*/
  margin: 0 auto;
  color: #fff;
}

.ttt-message {
  height: 4em;
  padding: 1em 0;
  margin-bottom: 1rem;
}

.ttt-message p {
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  margin: 0;
/*  padding-top: 1em;
  padding-bottom: 1em;*/
  /*height: 2em;*/
  /*padding-bottom: 1em;*/
}

.ttt-board {
 /*border: 1px solid #000;*/
 margin: 0 auto;
}

.ttt-board td {
 border: 4px solid #fff;
 width: 100px;
 height: 100px;
}

.ttt-square {
  color: #fff;
  font-size: 4em;
  text-align: center;
  margin: -10px -10px 0 0;
}

.ttt-square a  {
  visibility: hidden;
  text-decoration: none;
  padding: .38em;
  cursor: pointer;
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.2); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
}

.ttt-square:hover a  {
  visibility: visible;
}

.ttt-players {
  color: #fff;
  width: 300px;
  margin: 0 auto;
}

.ttt-players td {
  width: 50%;
}

.ttt-symbol {
  font-size: 2em;
}

.ttt-player1 {
  text-align: left;
}

.ttt-player2 {
  text-align: right;
}

.ttt-player .player1 {

}

.ttt-player .player2 {

}



/*
  ========================================
  Tricks
  ========================================
*/

.btn {
  display: block;
  /*line-height: 2em;*/
  padding: .2rem;
  text-align: center;
  text-decoration: none;
  width: 18rem;
}

.btn-get-started {
  font-size: 2rem;
  line-height: 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding-bottom: .5rem;
}

.btn-on-white {
  color: #F02626;
  background-color: #fff;
  border: 6px solid #F02626;
}

.btn-on-white:hover {
  color: #fff;
  background-color: #F02626; 
}

.btn-on-white:active {
  color: #961818;
  background-color: #fff;
  border-color: #961818;
}

.btn-on-red {
  color: #F02626;
  background-color: #fff;
  border: 6px solid #F02626;
}

.list-header {
  display: inline-block;
}

.btn-new-game-list {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 1;
}

.btn-new-game {
  margin: 0 auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/*
  ========================================
  Game Board
  ========================================
*/




/* Blue to Red */
@keyframes gradientShift-player1 {
  0% { background-position: 80% 50% }
  100% { background-position: 20% 50% }
}

/* Red to Even */
@keyframes gradientShift-player1-draw {
  0% { background-position: 20% 50% }
  100% { background-position: 50% 50% }
}

/* Red to More Red */
@keyframes gradientShift-player1-win {
  0% { background-position: 20% 50% }
  100% { background-position: 0% 50% }
}

/* Red to Blue */
@keyframes gradientShift-player2 {
  0% { background-position: 20% 50% }
  100% { background-position: 80% 50% }
}

/* Blue to Even */
@keyframes gradientShift-player2-draw {
  0% { background-position: 80% 50% }
  100% { background-position: 50% 50% }
}

/* Blue to More Blue */
@keyframes gradientShift-player2-win {
  0% { background-position: 80% 50% }
  100% { background-position: 100% 50% }
}

/* Red to More Blue */
@keyframes gradientShift-player2-ai-win {
  0% { background-position: 20% 50% }
  100% { background-position: 100% 50% }
}


.game-view {
  height: 100vh;
}

#view-player1 {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player1 1s ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#view-player1-static {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 20% 50%;
}

#view-player1-win {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  animation: gradientShift-player1-win 0.5s ease-out 1;
}

#view-player2 {

  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player2 1s ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#view-player2-static {
  background: blue; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 80% 50%;
}

#view-player2-win {

  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player2-win 0.5s ease-out 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#view-player2-ai-win {

  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player2-ai-win 0.6s ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#view-player1-draw {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player1-draw 0.5s ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

#view-player2-draw {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 240% 240%;
  background-position: 0%;

  animation: gradientShift-player2-draw 0.5s ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

a.piece-picking-up {
  visibility: visible;
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.4); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
}

a.piece-picking-up:hover {
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.2); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255,255,255,0.2);
}

a.piece-replacing {
  visibility: visible;
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.2); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255,255,255,0.2);
}

a.piece-replacing:hover {
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.8); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255,255,255,0.8);
}

.piece-winning {
  /*color: red;*/
  text-shadow: #fff 0 0 10px, #fff 2px 2px 4px, #fff -1px -1px 2px;
}

/*
  ========================================
  Leaderboard
  ========================================
*/



#leaderboard-user {
  width: 20px;
  height: 10px;
  /*border: 2px solid black;*/
  white-space: nowrap;
}

.game-leaderboard {
  margin: 1rem auto;
}

.leaderboard-game-name {
  border-bottom: 2px solid #F02626;
}

.leaderboard-game-name a {
  text-decoration: none;
  text-align: left;
  font-size: 1.8rem;
  color: #F02626;
}

.leaderboard-game-name {
  text-align: left;
  font-size: 1.8rem;
  color: #F02626;
}

.game-leaderboard th {
  width: 100px;
  text-align: center;
}

.game-leaderboard td {
  width: 60px;
  text-align: center;
}

.game-leaderboard th:nth-of-type(1) {
  text-align: right;
  width: 2.5rem;
  padding-right: 1rem;
}

.game-leaderboard th:nth-of-type(2) {
  text-align: left;
}

.game-leaderboard tbody tr:nth-child(odd) {
  background-color: rgba(255,255,255,0.9);
}

.game-leaderboard tbody tr:nth-of-type(1) {
  background-color: #F02626;
  color: #fff;
}

/*
  ========================================
  User Profile
  ========================================
*/

.user-group {
  width: 600px;
  margin: 0 auto;
}

.user-profile {
  max-height: 350px;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.user-name {
  color: #fff;
  background-color: #F02626; 
  padding: .3rem 2rem;
  position: absolute;
  bottom: 0;
  right: 0;
}

.user-edit {
 float: left;
}

.user-joined {
  color: #444;
  text-align: right;
  margin: 0;
}

.user-image {
  position: relative;
  z-index: -1;
  margin-top: -3rem;
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.3);
}

.user-stats {
  width: 90%;
  margin: 0 auto;
}



/*
  ========================================
  Tricks
  ========================================
*/

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}


@media only screen and (max-width: 560px) {

  .user-group {
    width: 100%;
  }

  .user-image {
    margin-top: -1.6rem;
  }

  .user-joined {
    float: left;
  }

  .dropbtn span {
    display: none;
  }

  .dropbtn img {
  }

  .dropbtn, .dropdown {
    width: 4rem;
  }

  .section-options {
    display: block;
  }

  .navbar-nav li a {
    padding-left: .9rem;
    padding-right: .8rem;
  }
}

