/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
   ========================================
   Layout
   ========================================
 */

 html {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }
 *, *:before, *:after {
   -webkit-box-sizing: inherit;
   -moz-box-sizing: inherit;
   box-sizing: inherit;
   }

input {
  auto-complete: none;
}

 /*
   ========================================
   Style
   ========================================
 */

@font-face {
  font-family: 'PF Arma Five';
  src: url('fonts/pf_arma_five.ttf')  format('truetype');
}

@font-face{
  font-family:"Binary Soldiers";
  src:url("http://www.myfontfree.com/data/43/b/binary_soldiers/BinarySoldiers.ttf");
}

 body {
  font-size: 18px;
  font-family: "PF Arma Five";
  background-color: oldlace;
  background-color: #F4F0F5;
 }

 .ruby {
  color: #F02626;
 }

 .games {
  color: #D62222;
 }

/*
  ========================================
  Navigation
  ========================================
*/

.go-left {
  float: left;
}

.go-right {
  float: right;
}

.navbar {
  background-color: #961818;
  /*background-color: #8C1C13;*/
  height: 4em;
}

.navbar ul {
  list-style-type: none;
  display: inline-block;
}

.navbar-header {
  font-size: 50px;
}

.navbar-nav {
  background-color: blue;
}

.navbar-nav li, .dropbtn {
  display: inline-block;
}

.navbar-nav li a, .dropbtn {
  color: #fff;
  padding: .5em 1.5em;
  text-align: center;
  text-decoration: none;
}

.navbar-nav li a:hover, .dropdown:hover {
  cursor: pointer;
  color: #FF6B6B;
}

/* Style The Dropdown Button */
/*.dropbtn a{
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}*/

.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    /*visibility: visible;*/
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/*
  ========================================
  Form
  ========================================
*/
form.new_ttt_game {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d62222+40,d62222+100 */
  background-color: #F02626;
  width: 400px;
  border-radius: 2px;
  padding: 0.1em 1em 1em 1em;
  margin: 10px auto;
  margin-bottom: 10px;
  /*margin-top: -100px;*/
  color: #fff;
}

form.new_ttt_game:first-child {
}

.form-header {
  text-align: center;
  /*padding-top: 150px;*/
}

.form-group {
  width: 156px;
  margin: 0 auto;
  margin-bottom: 1em;
  text-align: center;
}

.form-group select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   width: inherit;
   padding: .2em;
   padding-left: .7em;
   cursor: pointer;
   color: #000;
}

.form-group:hover select {
  color: #F02626;
  background-color: rgba(255,255,255,0.95);
}

.form-action {
  width: 200px;
  margin: 0 auto;
}

.form-action input {
  width: 200px;
  border: 4px solid #961818;
  background: none;
}

.form-action:hover input {
  color: #F02626;
  background: rgba(255,255,255,0.9);
}

/*
  ========================================
  Devise
  ========================================
*/

.notice,
.alert {
  color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  text-align: center;
  background-color: gray;
  border: 4px solid black;
  padding: 0 1em;
}

.devise {
  color: #fff;
  background: #F02626;
  padding: 10px 30px 40px 48px;
/*  padding-left: 40px;*/
  width: 400px;
  margin: 10px auto;
}

.devise input {
  color: #000;
  border-radius: 2px;
  border: none;
  padding: .2em;
  padding-left: .5em;
  width: 300px;
}

.devise input[type=checkbox] {
  width: 1em;
}

.devise .actions input{
  margin: 1em 0;
  color: red;
  background-color: #961818;
}

.devise .actions input:hover{
  background-color: rgba(255,255,255,0.95);
}

/*
#user_avatar::-webkit-file-upload-button {
  visibility: hidden;
}
#user_avatar::before {
  content: 'Choose an Image';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
#user_avatar:hover::before {
  border-color: black;
}
#user_avatar:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
*/

/*
  ========================================
  Lists
  ========================================
*/

.list-wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
}

.list {
  width: 600px;
  margin: 0 auto;
}

.list-item {
  background-color: #FC2828;
  margin-bottom: 4px;
  padding: 1em;
  width: 90%;
  position: relative;
}

.list a {
  text-decoration: none;
  color: #000;
}

.list-item:hover {
  margin: -2px 0px 5px -10px;
  box-shadow: 2px 2px 2px black;
  background-color: #FF6B6B;
}

.list-message {
  position: absolute;
  right: 0;
  top: -30px;
  width: 110px;
  -ms-transform: rotate(20deg); /* IE 9 */
      -webkit-transform: rotate(20deg); /* Safari */
      transform: rotate(20deg);
}

.list-title {
  margin: 0;
}

.list-subtitle {
  font-size: .8em;
  line-height: .8em;
  margin: 0;
  padding: 0;
}

.list-message .your-turn {
  color: #fff;
}

.list-message .opponents-turn {
  font-size: .8em;
  line-height: .8em;
}

/*
  ========================================
  TTTGame Board
  ========================================
*/

.ttt-game {
  width: 400px;
  /*background-color: yellow;*/
  margin: 0 auto;
}

.ttt-message {
  text-align: center;
}

.ttt-board {
 /*border: 1px solid #000;*/
 margin: 0 auto;
}

.ttt-board td {
 border: 4px solid #fff;
 width: 100px;
 height: 100px;
}

.ttt-square {
  color: #fff;
  font-size: 4em;
  text-align: center;
  margin: -10px -10px 0 0;
}

.ttt-square a  {
  visibility: hidden;
  text-decoration: none;
  padding: .38em;
  cursor: pointer;
  color: #fff;
  -webkit-text-fill-color: rgba(255,255,255,0.2); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #fff;
}

.ttt-square:hover a  {
  visibility: visible;
}

.ttt-players {
  margin-top: -335px;
  margin-left: 100px;
}

.ttt-player {
  /*background-color: yellow;*/
  margin-left: 10px;
  max-width: 400px;
  display: inline-block;
}

.ttt-player .player1 {

}

.ttt-player .player2 {

}

/*
  ========================================
  Tricks
  ========================================
*/

.btn {

}

.btn-get-started {
  display: block;
  text-decoration: none;
  color: #F02626;
/*  background-color: #fff;*/
  padding: 0 .2em;
  border: 6px solid #961818;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 150px;
}

.list-header {
  display: inline-block;
}

.btn-new-game-list {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 1;
}

.btn-new-game {
    display: block;
    text-decoration: none;
    color: #F02626;
    background-color: #fff;
    border: 6px solid #961818;
    line-height: 2em;
    text-align: center;
    width: 300px;
}

a.btn-new-game {
  color: #F02626;
}

.btn-get-started:hover,
.btn-new-game:hover {
  background-color: rgba(255,255,255,0.8);
  border: 6px solid #F02626;
}

/*
  ========================================
  Game Board
  ========================================
*/




/* Blue to Red */
@keyframes gradientShift-player1 {
  0% { background-position: 100% 50% }
  100% { background-position: 0% 50% }
}

/* Red to Blue */
@keyframes gradientShift-player2 {
  0% { background-position: 0% 50% }
  100% { background-position: 100% 50% }
}


.game-view {
  margin-top: -22px;
  height: 100vh;
}

#view-player1 {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 200% 200%;
  background-position: 0%;

  animation: gradientShift-player1 1s ease-in 1;


  /*background: linear-gradient(90deg, red 55%, blue); /* Standard syntax */*/
  /*background: linear-gradient(90deg, red, blue 45%); /* Standard syntax */

  -webkit-animation-fill-mode:forwards;   /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1) */
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

#view-player1-static {
  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 200% 200%;
  background-position: 0% 50%;
}

#view-player2 {

  background: red; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 200% 200%;
  background-position: 0%;

  animation: gradientShift-player2 1s ease-in 1;


  /*background: linear-gradient(90deg, red 55%, blue); /* Standard syntax */*/
  /*background: linear-gradient(90deg, red, blue 45%); /* Standard syntax */

  -webkit-animation-fill-mode:forwards;   /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1) */
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

#view-player2-static {
  background: blue; /* For browsers that do not support gradients */
  background: linear-gradient(90deg, red, blue);
  background-size: 200% 200%;
  background-position: 100% 50%;
}




/*
  ========================================
  Tricks
  ========================================
*/

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}




