/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/*@media screen and (min-width: 480px) {
  .list {
    width: 400px;
  }

  .list-item {
    background-color: white;
  }
}*/


@media only screen and (max-width: 990px) {
  .navbar {
    background-color: green;
  }

  .dropbtn {
    color: transparent;
  }

  .dropbtn img {
    width: 3rem;
    height: 3rem;
    /*display: none;*/
  }
}

@media screen and (max-width: 710px) {

    .btn-new-game-list {
      top: 47px !important;
    }

    .list-wrapper {
      margin-top: 0px !important;
      padding-top: 20px;
    }
}

@media screen and (max-width: 581px) {

    .btn-new-game-list {
      top: 70px !important;
    }

    .list-wrapper {
      width: 100% !important;
    }

    .list {
      width: 100% !important;
    }
}
