

<table class="ttt-board">
  <% 3.times do |i| %>
    <tr>
      <% 3.times do |j| %>
        <td>
          <div class="ttt-square">
            <% case @mttt_game.board[i][j] %>
              <% when nil %>
                <% if @mttt_game.valid_squares_to_replace(@mttt_game.mttt_moves.last.square, @mttt_game.board).include?([i,j]) %>
                  <%= link_to @mttt_game.current_player[:symbol], { controller: 'mttt_games', action: 'update', square_i: i, square_j: j }, method: :put %>
                <% end %>
              <% else %>
                <%= @mttt_game.board[i][j] %>
            <% end %>
          </div>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>