<div class="game-view" id=<%= "#{@mttt_game.which_player_show_view}" %>>

<div class="ttt-game">
  <div class="ttt-message">
    <% unless @mttt_game.finished? %>
      <p><%= @mttt_game.current_player_display_name %>'s Turn</p>
    <% else %>
      <%= simple_format(@mttt_game.message) %>
    <% end %>
  </div>

  <%= render "mttt_waiting_board" %>

</div>

</div>